body {
    background-color: hsl(212, 20%, 80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.intro {
    text-align: center;
    margin-bottom: 50px;
}

.description {
    font-size: x-large;
    color: hsl(234, 12%, 34%);
}

h1 {
    color: hsl(234, 12%, 34%);
    font-size: xx-large;
}

p {
    color: hsl(212, 6%, 44%);
    font-size: medium;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); /* Svaka kartica ima istu visinu */
    gap: 20px;
    place-items: center;
    justify-content: center;
    align-content: center;
}

.card {
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.team-builder {
    margin-top: 0.5fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2; /* Prva kartica */
    border-top: 5px solid hsl(180, 62%, 55%);
}

.supervisor {
    grid-column: 1 / 2;
    grid-row: 2 / 3; /* Druga kartica (u sredini) */
    border-top: 5px solid hsl(0, 78%, 62%);
}

.karma {
    margin-bottom: 0.5fr;
    grid-column: 3 / 4;
    grid-row: 2 / 3; /* Treća kartica (u sredini) */
    border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
    grid-column: 2 / 3;
    grid-row: 3 / 4; /* Četvrta kartica */
    border-top: 5px solid hsl(209, 69%, 60%);
}

