body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.intro {
    text-align: center;
    margin-bottom: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.description {
    font-size: x-large;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

h1 {
    color: hsl(234, 12%, 34%);
    font-size: xx-large;
    margin: 0;
}

p {
    color: hsl(212, 6%, 44%);
    font-size: medium;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tri kolone */
    gap: 20px; /* Razmak između kartica */
    place-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .card {
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    gap: 0;
  }
  
  .card img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
  }
  
  /* Grid pozicioniranje za kartice */
  .supervisor {
    grid-column: 1 / 2; /* Prva kolona */
    grid-row: 1 / 2; /* Prvi red */
    border-top: 5px solid hsl(180, 62%, 55%);
  }
  
  .column-2 {
    grid-column: 2 / 3; /* Druga kolona */
    grid-row: 1 / 2; /* Podeli red sa ostatkom */
  }

  .team-builder{
    border-top: 5px solid hsl(0, 78%, 62%);
    margin-bottom: 20px;
  }

  .karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    margin-bottom: 20px;
  }
  
  .calculator {
    grid-column: 3 / 4; /* Treća kolona */
    grid-row: 1 / 2; /* Prvi red */
    border-top: 5px solid hsl(209, 69%, 60%);
  }
  
